apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      containers:
        - name: react-app
          image: vmkgadi/gitops01:1287f8fca8a6f3ce04cc8f94056458a97b9fee20
          imagePullPolicy: Always
          ports:
            - containerPort: 80
