apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      containers:
        - name: react-app
          image: vmkgadi/gitops01:b5c4ad5530278bfaa17c20c15046025f5eb6533f
          imagePullPolicy: Always
          ports:
            - containerPort: 80
