apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      containers:
        - name: react-app
          image: vmkgadi/gitops01:afb22ea55b6e482570d93ed27b8157018020b33a
          imagePullPolicy: Always
          ports:
            - containerPort: 80
